img{
  border-radius: 50%;
  border: 2px solid #e2bb3c;
  width: 2.6rem;
  height: 2.6rem;
  right: 8px;
  top: 9px;
}
header{
  height: 58px;
}
#content{
  position: fixed;
  height: calc(100% - 58px);
  min-height: calc(100% - 58px);
}
#sidebar, main{
  position: absolute;
  height: 100%;
}
#sidebar{
  width: 200px;
}
main{
  position: fixed;
  left: 200px;
  width: calc(100% - 200px);
  height: calc(100% - 58px);
}
